<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
</head>
<body>
<header></header>
<main>
    <!-- resume.md content -->
    <section>
        {{ content }}
    </section>

    <section>
        <h1>{{ site.data.info.name }}</h1>
        <h2>{{ site.data.info.role }}</h2>
    </section>
    <section>
        <div>
            <h3>Work Experience</h3>
        </div>
        <div>
            {% for job in site.data.jobs %}
                <div style="margin-bottom: 20px;"> 
                    <h4>{{ job.position }} — <strong>{{ job.company }}</strong></h4>
                    <p><em>{{ job.years }}</em></p>
                    <ul>
                        {% for item in job.achievements %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </section>
</main>
<footer></footer>
</body>
</html>
